#home {
    background-image: url('https://img.freepik.com/premium-vector/seamless-pattern-vector-palm-leaves-green-leaves-contours-background-textiles-packaging-fabrics-wallpapers-backgrounds-invitations-summer-tropics-hand-illustration_407307-3809.jpg?w=740'); 
    background-size: contain;
    height: 400px;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  #about nav ul {
	display: flex;
	font-size: 20px;
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
	font-size: 20px;
}
#about .info-link {
	margin-right: 40px;
	cursor: pointer;
	font-weight: 200;
    color: rgb(31, 168, 88);
}
#about .info-link::after {
	content: "";
	height: 4px;
	width: 0%;
	background-color: rgb(31, 168, 88);
	display: block;
}
#about .info-link:hover::after {
	width: 50%;
	transition: 0.3s;
}

.hide {
	display: none;
}
.show {
	display: initial;
}
#about .selected::after {
	content: "";
	height: 4px;
	width: 50%;
	background-color: rgb(31, 168, 88);
	display: block;
}
#about .info-section {
	height: 200px;
}
#about .info-section span {
	font-size: 20px;
	color: rgb(31, 168, 88);
	font-weight: 200;
}
#about .info-section p {
	font-weight: 200;
	font-size: 14px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .img-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px; /* Set a maximum height for the image */
  }

  .card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  .card a:hover {
    text-decoration: underline;
  }