#home {
    background-image: url('https://img.freepik.com/premium-vector/seamless-pattern-vector-palm-leaves-green-leaves-contours-background-textiles-packaging-fabrics-wallpapers-backgrounds-invitations-summer-tropics-hand-illustration_407307-3809.jpg?w=740'); 
    background-size: contain;
    height: 400px;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  #about nav ul {
	display: flex;
	font-size: 20px;
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
	font-size: 20px;
}
#about .info-link {
	margin-right: 40px;
	cursor: pointer;
	font-weight: 200;
    color: rgb(31, 168, 88);
}
#about .info-link::after {
	content: "";
	height: 4px;
	width: 0%;
	background-color: rgb(31, 168, 88);
	display: block;
}
#about .info-link:hover::after {
	width: 50%;
	transition: 0.3s;
}

.hide {
	display: none;
}
.show {
	display: initial;
}
#about .selected::after {
	content: "";
	height: 4px;
	width: 50%;
	background-color: rgb(31, 168, 88);
	display: block;
}
#about .info-section {
	height: 200px;
}
#about .info-section span {
	font-size: 20px;
	color: rgb(31, 168, 88);
	font-weight: 200;
}
#about .info-section p {
	font-weight: 200;
	font-size: 14px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .img-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px; /* Set a maximum height for the image */
  }

  .card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  .card a:hover {
    text-decoration: underline;
  }

  #contact {
    background-color: #343a40;
    padding: 60px 0;
  }

  .poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  .custom-card-2 {
    background-color: #495057;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .custom-card-2 h4 {
    color: #fff;
    font-size: 24px;
  }

  .form-label {
    color: #fff;
  }

  .form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    background-color: #e9ecef;
  }

  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 8px;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }